@model aplicacionKermesse.Models.tbl_moneda
@{
    ViewBag.Title = "Guardar Moneda";
}

<style>
    .text-danger{
        color: red;
    }
</style>
@using(Html.BeginForm("Guardar", "moneda", FormMethod.Post))
{
<div class="container" style="padding-top: 1rem;">
    <div class="form-group">
        <label>Nombre de la Moneda</label>
        @Html.ValidationMessageFor(x => x.nombre, "", new { @class = "text-danger" })
        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control", @placeholder = "Dollar" })
    </div>

    <div class="form-group">
        <label>Signo de la Moneda</label>
        @Html.ValidationMessageFor(x => x.signo, "", new { @class = "text-danger" })
        @Html.TextBoxFor(x => x.signo, new { @class = "form-control", @placeholder = "$" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn-warning btn" name="btnLimpiar">Limpiar</button>
        <a href="@Url.Action("moneda")" class="btn btn-danger"> Regresar </a>
        <!--Html.ActionLink("Regresar", "moneda") -->
    </div>
</div>
 }
