@model IEnumerable<aplicacionKermesse.Models.tbl_arqueocaja>

@{
    ViewBag.Title = "Gestion de Arqueo Caja";
}

<h2>Gestion de Arqueo Caja</h2>

@using (Html.BeginForm("FiltrarArqueoCaja", "arqueoCaja", FormMethod.Post))
{
    <div class="row justify-content-md-end" style="padding-bottom: 1rem;">
        <div class="col-md-auto" style="padding-right:12rem;">
            <p>
                <a href="@Url.Action("guardarArqueo")"
                   class="btn btn-primary">
                    <ion-icon name="add-outline"></ion-icon>
                    <span>
                        <strong>Añadir Nuevo</strong>
                    </span>
                </a>
            </p>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBox("cadena", null, new { @class = "form-control col-md-10", @placeholder = "Buscar", @name = "search-outline" })
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success">
                        <i data-feather="search"></i>Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idkermesse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_arqueo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gran_total)
        </th>
        <th>
            Opciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-wrap" style="width: 20rem;">
                @Html.DisplayFor(modelItem => item.tbl_kermesse.nombre)
            </td>
            <td class="text-wrap" style="width: 20rem;">
                @Html.DisplayFor(modelItem => item.fecha_arqueo)
            </td>
            <td class="text-wrap" style="width: 10rem;">
                @Html.DisplayFor(modelItem => item.gran_total)
            </td>
            <td>
                <a href="@Url.Action("EditarArqueoCaja", new { id = item.id_arqueocaja })"><ion-icon name="create-outline" style=" font-size: 20px; pointer-events:none;"></ion-icon></a>
                <a href="@Url.Action("VerArqueoCaja", new { id = item.id_arqueocaja })"><ion-icon name="document-text-outline" style=" font-size: 20px; pointer-events: none;"></ion-icon></a>
                <a href="@Url.Action("borrarArqueoCaja", new { id = item.id_arqueocaja })"><ion-icon name="trash-outline" style=" font-size: 20px; pointer-events: none;"></ion-icon></a>
            </td>
        </tr>
    }

</table>

